
<div class="main-work">
    <div class=" container justify-content-center ">
        <div class="works-cont text-white">
            <h1 class="text-start ">{{"WORKS.TRAGECTORY_TITLE" | translate}}</h1>
            <p class="lead ">{{"WORKS.TRAGECTORY_DESCRIPTION" | translate}}</p>

            <hr>

            <div class="row">
                <div class="timeline">
                    <div *ngFor='let entry of timeLine;let i = index'>
                        <div class="container-timeline-label" [ngClass]="{ left: i%2!==0, right:i%2==0}">
                            <div class="content">
                            <h2>{{entry.title}}</h2>
                            <h5 class="mt-4 fs-5" *ngIf="entry.subtitle != null">{{entry.subtitle | translate}}</h5>
                            <p>{{entry.detail | translate}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <hr>
            <div>
                <h3>{{"WORKS.STATISTICS_TITLE" | translate}}</h3>
                <p class="lead">{{"WORKS.STATISTICS_DESCRIPTION" | translate}}</p>

                <canvas  id="skillsCharts" >{{ chart }}</canvas>
            </div>
            
        </div>
    </div>
    
</div>
